@font-face {
    font-family: "Verdana";
    src: url('https://amg.lilekov-studio.com/articles/Verdana.woff2') format('woff2'),
        url('https://amg.lilekov-studio.com/articles/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url('https://amg.lilekov-studio.com/articles/Verdana-Bold.woff2') format('woff2'),
        url('https://amg.lilekov-studio.com/articles/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}